<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/bags/common/tiddlers/base.css"
            type="text/css" />
        {%- for link in css -%}
        <link rel="stylesheet" href="{{ link }}" type="text/css" />
        {%- endfor -%}
        {% block links %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="title" content="{{ title|e }}" /> 
        <meta name="viewport" content="width=device-width"> 
    </head>
    <body>
        <div id="container">
            <div id="sidebar">
                {% block sidebar %}
                <ul>
                    {% for item in sidebar_info %}
                    <li>
                    {% if 'climb' in item.tags %}
                    {{item.bag}} climbed an {{item.fields.grade}}
                    at {{item.fields.gym}}
                    {% elif 'route' in item.tags %}
                    A {{item.fields.grade}} has been added at
                    {{item.bag.replace('_climbs', '')}}
                    {% elif 'news' in item.tags %}
                    {{item.bag.replace('_news', '')}} has some news:
                    {{item.text[0:10]}}
                    {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
          {% block content %}
          {% endblock %}
        </div>
    </body>
        {%- for link in js -%}
        <script type="text/javascript" src="{{ link }}"></script>
        {%- endfor -%}
</html>
