{% extends 'base.html' %}
{% block content %}
<div id="gyminfo">
    <h1>Manage Gym Info</h1>
<form method="POST">
    <label>Full Name: <input size="80" type="text" name="fullname"
        value="{{gym_tiddler.fields.fullname | e}}"></label><br>
    <label>Tag Line: <input size="80" type="text" name="tagline"
        value="{{gym_tiddler.fields.tagline |e}}"></label><br>
    Location <label>lat <input size="10" type="text" name="geo.lat"
        value="{{gym_tiddler.fields['geo.lat']|e}}"></label>,
        <label>long <input size="10" type="text" name="geo.long"
        value="{{gym_tiddler.fields['geo.long']|e}}"></label><br>
    <input type="submit" name="submit" value="EditInfo">
</form>
</div>
<div id="gymroutes">
    <h1>Manage Gym Routes</h1>
<form method="POST">
    <table>
        <tr><th>delete?</th><th>line</th><th>color</th><th>grade</th><th>setter</th><th>lead?</th></tr>
    {% for route in routes|sort(attribute='fields.lineNumber') %}
    <tr>
        <td>
            <input name="delete" type="checkbox" value="{{ route.title }}">
        </td>
        <td>
            <input name="title" type="hidden" value="{{ route.title }}"/>
            <input name="lineNumber" size="3" value="{{ route.fields.lineNumber }}"/>
        </td>
        <td>
            <input name="colorName" size="10" value="{{ route.fields.colorName }}"/>
        </td>
        <td>
            <input name="grade" size="5" value="{{ route.fields.grade }}"/>
        </td>
        <td>
            <input name="routeSetter" size="20" value="{{ route.fields.routeSetter}}"/>
        </td>
        <td>
            <input name="isLeadRoute" type="checkbox" value="{{ route.title }}"
            {%- if route.fields.isLeadRoute == '1' -%} checked="checked"{%- endif %}
            />
        </td>
    </tr>
    {% endfor %}
    <tr><td></td><td><input name="lineNumber" size="3"></td>
        <td><input name="colorName" size="10"></td>
        <td><input name="grade" size="5"></td>
        <td><input name="routeSetter" size="20"></td>
        <td><input name="isLeadRoute" type="checkbox"
            value="new_one" checked="checked" /></td>
    </tr>

    </table>
    <input type="submit" name="submit" value="Update Routes">
</form>
</div>
<div id="gymnews">
    <h1>Create Gym News</h1>
    <form method="POST">
        <textarea name="news" rows="12" cols="80"></textarea><br/>
        <input type="submit" name="submit" value="Create News">
    </form>
</div>
<div id="latest_news">
    <p>{{ latest_news.created }}</p>
    <div class="newsitem">
        {{ latest_news.fields.html }}
    </div>
</div>
{% endblock %}
